%section.genre
  %header.clearfix
    %h1= @category.name
    .genre_sorting
      Sort by:
      %select(name="")
        %option(value="a-z") Title: A - Z
        %option(value="z-a") Title: Z - A
        %option(value="rating") Rating
  %article.row
  .video.col-md-2
    - @category.videos.each do |movie|
      = link_to video_path(movie) do
        %img{src: movie.small_cover_url}
